<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
        <p>
            Mi nombre es Luz Vivanco, pero mis amigos me llaman Lu, soy de Lima, Perú .
            Estudié Ingeniería Industrial y, tras 2 años ejerciendo, 
            me pasé al mundo de la Programación. Desde entonces disfruto
            creando experiencias web para los usuarios.
        </p>

        <p>
            Entre mis éxitos destaco que durante mi simulación laboral en 
            No Country, ayudé a mis compañeros con los bugs que se presentaban
            cuando desarrollamos el proyecto. Me encanta apoyar al equipo, creo
            que la comunicación es lo más importante.
        </p>
    </div>
    <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" />
</section>