---
import EducationItem from "./EducationItem.astro"
const EDUCATION = [
    {
        date: "Octubre 2022 - Febrero 2023",
        title: "Bootcamp, Desarrollador web Backend",
        institucion: "SILABUZ - MTP",
        description: "Formación profesional, capacitación técnica Backend en tecnologíascomo Python, Flask, Django, Fastapi, HTML, CSS, Javascript, Mysql,MongoDB, AWS."
    },
    {
        date: "2015 - 2021",
        title: "Bachiller en Ingeniería Industrial",
        institucion: "UNIVERSIDAD NACIONAL FEDERICO VILLARREAL"
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">         
    {
        EDUCATION.map(education => (
            <li class="mb-10 ms-4">
                <EducationItem {...education} />
            </li>
        ))
    }
</ol>
    