---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Octubre 2022 - Febrero 2023",
        title: "Bootcamp, Desarrollador web Backend",
        institucion: "SILABUZ - MTP",
        description: "Formación profesional, capacitación técnica Backend en tecnologíascomo Python, Flask, Django, Fastapi, HTML, CSS, Javascript, Mysql,MongoDB, AWS.",
        link: "#"
    },
    {
        date: "2015 - 2021",
        title: "Bachiller en Ingeniería Industrial",
        institucion: "UNIVERSIDAD NACIONAL FEDERICO VILLARREAL"
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">         
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
    